:root {
  --textColor: #000;
  --backgroundColor: #fff;
  --backgroundBColor: #fff;
  --backgroundHColor: rgb(219, 219, 219);
  --mainColor: #000;
  --board: #e67065;
  --hoverColor: #fff;
}

body {
  background: var(--backgroundBColor);
  font-family: "Marck Script", cursive;
  font-weight: bolder;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--mainColor);
}
.main h1 {
  font-size: 35px;
}
.main h3{
  font-size: 25px;
}

.story {
  width: 52%;
  margin: auto;
  text-align: center;
  font-size: 28px;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  font-size: 20px;
  text-align: center;
  border: 1px solid var(--mainColor);
  border-radius: 10px;
  width: 20%;padding: 20px;
}
.card img {
  width: 100px;
}
.card p{
  font-size: 30px;
}
