:root {
  --textColor: #000;
  --backgroundColor: #fff;
  --backgroundBColor: #fff;
  --backgroundHColor: rgb(219, 219, 219);
  --mainColor: #000;
  --board: #e67065;
  --hoverColor: #fff
}

body {
  background: var(--backgroundBColor);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--mainColor);
  height: 80vh;
}
